body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible{
    display: flex;
}
.half-widt {
        padding-left: 2%;
        margin-left: 5%;
        width: 40%;
}

.half-widt img {
    width: 100%;
    
}
section{
    padding-bottom: 140px;
}
a.anchor-teg {
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(orange,tomato);
    color: #ffff;
    font-weight: 700;
}

p {
    color: gray;
}
.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.orange-color{
    color: orange;
}
img.phpoto {
    border-radius: 100%;
  background: burlywood;
    width: 85%;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#full-stek {
    box-shadow: 5px 10px 40px black;
    height: 380px;
    border-image: linear-gradient( #7f09eb,#b4ff00);
    border-left: 9px solid;
    border-image-slice: 1;
    border-radius: 10px;
}

section.experience h3 {color: orange;}
#baby-web{
    box-shadow: 5px 10px 40px black;
    height: 380px;
    border-image: linear-gradient( #23d30e,blue);
    border-left: 9px solid;
    border-image-slice: 1;
    border-radius: 10px;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
footer p{

    text-align: center;
}